<ion-content padding class="transparent-header">
    <ion-header>
        <ion-navbar>
        </ion-navbar>
    </ion-header>
    <img class="logo" src="http://placehold.it/300x200" />
    <div padding>
        <ion-item>
            <ion-input type="text" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" placeholder="Senha"></ion-input>
        </ion-item>
        <button ion-button block outline (click)="login()" color="light" class="login-button">Entrar</button>
    </div>
    <div class="strike">
        <span>OU</span>
    </div>
    <oauth-providers-list></oauth-providers-list>
</ion-content>
<ion-footer>
    <ion-toolbar class="footer">
        <div (click)="goToSignup()">
            <span>Don't have an account? <strong>Sign up here</strong>.</span>
        </div>
    </ion-toolbar>
</ion-footer>